$variant: 'light';
$titlebar: 'light';
$compact: 'true';

@import '../_sass/gnome-shell/variables';
@import '../_sass/gnome-shell/colors';
@import '../_sass/gnome-shell/drawing';
@import '../_sass/gnome-shell/common';
@import '../_sass/gnome-shell/extensions';
