$variant: 'dark';
$trans: 'true';
$titlebar: 'dark';

@import '../_sass/colors'; //use gtk colors
@import '../_sass/variables';
@import '../_sass/gnome-shell/drawing';
@import '../_sass/gnome-shell/common';
