$variant: 'light';
$trans: 'true';
$titlebar: 'light';
$theme: 'ubuntu';
$titlebutton: '';

@import '../../_sass/colors'; //use gtk colors
@import '../../_sass/variables';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/widgets-3-32';
@import '../../_sass/gnome-shell/extensions-3-32';
