//This is the RIGHT PLACE to edit the stylesheet

//
// Globals
//
$font-size: 10;
$font-family: Cantarell, Sans-Serif;
$_bubble_bg_color: opacify($osd_bg_color,0.25);
$_bubble_fg_color: $osd_fg_color;
$_bubble_borders_color: transparentize($osd_fg_color,0.8);
$_shell_fg_color: white;

stage {
  // font-family: $font-family;
  @include fontsize($font-size);
  color: $fg_color;
}

%reset_style {
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: none !important;
  border-radius: 0 !important;
}

%bubble-entry {
  color: $fg_color;
  background-color: darken($bg_color, 2%);
  border-color: $borders_color;
  box-shadow: none;
  &:focus { border: 1px solid $selected_bg_color; }
}

%bubble-dialog {
  color: $fg_color;
  background-color: $base_color;
  border: if($variant == 'light', 0, 1px) solid rgba(black, 0.75) !important;
  box-shadow: 0 3px 8px -2px rgba(black, 0.35) !important;
}

// osd panels
%osd_panel {
  color: $osd_fg_color;
  background-color: $osd_bg_color;
  border-radius: 3px;
  padding: 12px;
  border: 1px solid rgba(black, 0.75) !important;
  box-shadow: 0 3px 8px -2px rgba(black, 0.35) !important;
}

%overview-icon {
  .overview-icon {
    @extend %icon_tile;
  }

  &:hover .overview-icon {
    background-color: rgba($selected_bg_color, 0.5);
    border: 1px solid $selected_bg_color;
  }

  &:active .overview-icon,
  &:active:hover .overview-icon {
    background-color: rgba($selected_bg_color, 0.75);
    border: 1px solid $selected_bg_color;
  }
}

%icon_tile {
  color: $_shell_fg_color;
  border-radius: 2px;
  padding: 6px;
  border: 1px solid transparent;
  transition-duration: 0ms;
  text-align: center;
}

%status_text {
  font-size: 2em;
  font-weight: bold;
  color: $fg_color;
}
