@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		--gnome-selected-color: #ffffff;
		--gnome-selected-background: #5294e2;

		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #32343D;

		/* Toolbars */
		--gnome-toolbar-background: #282A33;
		--gnome-toolbar-color: #D3DAE3;
		--gnome-toolbar-border-color: #4A4C54;
		--gnome-inactive-toolbar-background: #282A33;
		--gnome-inactive-toolbar-border-color: #4A4C54;

		/* Sidebar */
		--gnome-sidebar-background: #272931;
		--gnome-inactive-sidebar-background: #272931;

		/* Popups */
		--gnome-menu-background: #32343D;
		--gnome-menu-border-color: #4A4C54;
		--gnome-popover-background: #32343D;
		--gnome-popover-border-color: #4A4C54;
		--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--gnome-popover-button-hover-background: #5294e2;
		--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--gnome-headerbar-background: #282A33;
		--gnome-headerbar-border-color: #4A4C54;
		--gnome-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--gnome-inactive-headerbar-background: #282A33;
		--gnome-inactive-headerbar-border-color: #4A4C54;
		--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */
		--gnome-button-background: #2C2F39;
		--gnome-button-border-color: #4A4C54;
		--gnome-button-border-accent-color: #4A4C54;
		--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-hover-background: #383C49;
		--gnome-button-active-background: #5294e2;
		--gnome-button-active-border-color: #5294e2;
		--gnome-button-active-border-accent-color: #4A4C54;
		--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-disabled-background: #2F303B;
		--gnome-button-disabled-border-color: #4A4C54;
		--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-inactive-button-background: #2F303B;
		--gnome-inactive-button-border-color: #4A4C54;
		--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-flat-button-hover-background: #3b3f4d;
		--gnome-flat-button-active-background: #515563;
		--gnome-button-suggested-action-background: linear-gradient(to top, #155099 2px, #15539e);
		--gnome-button-suggested-action-border-color: #0f3b71;
		--gnome-button-suggested-action-border-accent-color: #092444;;
		--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-suggested-action-hover-background: linear-gradient(to top, #155099, #1655a2 1px);
		--gnome-button-suggested-action-active-background: #103e75;
		--gnome-button-suggested-action-active-border-color: #0f3b71;
		--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
		--gnome-button-destructive-action-border-color: #851015;
		--gnome-button-destructive-action-border-accent-color: #570b0e;
		--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
		--gnome-button-destructive-action-active-background: #8a1116;
		--gnome-button-destructive-action-active-border-color: #851015;
		--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* TitleButtons */
		--gnome-titlebutton-min-hover-background: rgba(255, 255, 255, 0.1);
		--gnome-titlebutton-max-hover-background: rgba(255, 255, 255, 0.1);
		--gnome-titlebutton-close-hover-background: #ff5555;
		--gnome-titlebutton-min-active-background: rgba(255, 255, 255, 0.2);
		--gnome-titlebutton-max-active-background: rgba(255, 255, 255, 0.2);
		--gnome-titlebutton-close-active-background: #c83737;

		/* Entries */
		--gnome-entry-background: #22252C;
		--gnome-entry-border-color: #4A4C54;
		--gnome-entry-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--gnome-entry-color: #D3DAE3;
		--gnome-inactive-entry-background: #2D2E38;
		--gnome-inactive-entry-border-color: #4A4C54;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #d6d6d6;
		--gnome-focused-urlbar-border-color: #5294e2;
		--gnome-private-urlbar-background: #25003e;

		/* Switch */
		--gnome-switch-background: #282828;
		--gnome-switch-border-color: #1b1b1b;
		--gnome-switch-slider-background: linear-gradient(to bottom, #3c3c3c 20%, #353535 90%);
		--gnome-switch-slider-border-color: #111111;
		--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-switch-active-background: #15539e;
		--gnome-switch-active-border-color: #030c17;
		--gnome-switch-active-slider-border-color: #030c17;

		/* Tabs */
		--gnome-tabbar-tab-color: #5e646b;
		--gnome-tabbar-tab-hover-background: rgba(255, 255, 255, 0.01);
		--gnome-tabbar-tab-hover-border-bottom-color: #3d5f8a;
		--gnome-tabbar-tab-hover-color: #D3DAE3;
		--gnome-tabbar-tab-active-background: rgba(255, 255, 255, 0.06);
		--gnome-tabbar-tab-active-background-contrast: transparent;
		--gnome-tabbar-tab-active-border-bottom-color: #5294e2;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #5294e2;
		--gnome-tabbar-tab-active-color: #dae1ea;
		--gnome-tabbar-tab-active-hover-background: rgba(255, 255, 255, 0.08);
		--gnome-inactive-tabbar-tab-color: #808690;
		--gnome-inactive-tabbar-tab-active-background: transparent;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
		--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	}
}
