
//
// Nemo
//
.nemo-desktop.nemo-canvas-item { @extend .nautilus-desktop.nautilus-canvas-item; }

.nemo-window {

  .nemo-places-sidebar.frame { border-width: 0; }
  notebook { background-color: $base_color; }

  // Rename entry
  .nemo-window-pane widget.entry {
    border: 1px solid;
    border-radius: 3px;

    @include entry(focus);

    &:selected { &:focus, & { @extend %selected_items; } }
  }

  .primary-toolbar {
      @extend %header_widgets;
      border: none;
      color: $header_fg;
      background-color: opacify($header_bg, 1);
      box-shadow: inset 0 -1px $borders_color;
    }

  // Pathbar
  .primary-toolbar widget.raised.linked:not(.vertical):not(.path-bar) {

    > button {
      &:not(:last-child):not(:only-child) { margin: 0; }

      padding-bottom: 2px;
      margin: 0;
      color: $header_fg;
      background-color: $header_bg;
      border: none;

      &:hover { color: darken($header_fg, 10%); box-shadow: inset 0 -2px rgba($alt_selected_bg_color, 0.5); }
      &:active, &:checked { 
          color: $header_fg;
          box-shadow: inset 0 -2px $alt_selected_bg_color;
        }
      &:disabled { color: transparentize($header_fg, 0.4); }

      &, &:hover, &:active, &:checked, &:disabled { @extend %linked-flat; }
    }

   // @include pathbar_linking_rules($sep_color:$header_button_border);
  }
}

//
// Caja
//
.caja-desktop { @extend .nautilus-desktop.nautilus-canvas-item; }

.caja-notebook { border-top: 1px solid $borders_color; }
.caja-side-pane .frame { border-width: 1px 0 0; }
.caja-notebook .frame { border-width: 0 0 1px; }

.caja {
  &-canvas-item { @extend .nautilus-canvas-item; }

  &-list-dim-label { @extend .nautilus-list-dim-label; }
}

.caja-desktop { // desktop icon-grid styling
  &.caja-canvas-item { @extend .nautilus-desktop.nautilus-canvas-item; }

  > widget.entry { // = EelEditableLabel.entry
    &, &:focus {
      transition: none;

      &:selected { // FIXME: selection node doesn't work?
        @extend %selected_items;
      }
    }
  }
}

//
// Pluma
//

.pluma-window statusbar frame > border { border: none; }

.pluma-window notebook > stack scrolledwindow { border-width: 0 0 1px 0; }

#pluma-status-combo-button {
  min-height: 0;
  padding: 0;

  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

//
// Gnome Builder
//
// TODO: Merge this with the upstream stylesheet

.gb-search-entry-occurrences-tag { background: none; }

workbench.csd > stack.titlebar:not(headerbar) {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;

  headerbar {
    &,
    &:first-child,
    &:last-child { border-radius: $_header_radius $_header_radius 0 0; }
  }
}

editortweak .linked > entry.search:focus + .gb-linked-scroller { border-top-color: $selected_bg_color; }

layouttab {
  background-color: $base_color;
}

layout {
  border: 1px solid $borders_color;
  -PnlDockBin-handle-size: 1;
}

eggsearchbar box.search-bar {
  border-bottom: 1px solid $borders_color;
}

pillbox {
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  border-radius: 3px;

  &:disabled label { color: transparentize($selected_fg_color, 0.5) }
}

docktabstrip {
  padding: 0 6px;

  background-color: $bg_color;
  border-bottom: 1px solid $borders_color;

  docktab {
    min-height: 28px;
    border: solid transparent;
    border-width: 0 1px;

    label { opacity: 0.5; }
    &:checked, &:hover { label { opacity: 1; }}

    &:checked {
      border-color: $borders_color;
      background-color: $base_color;
    }
  }
}

dockbin {
  border: 1px solid $borders_color;
  -PnlDockBin-handle-size: 1;
}

dockpaned {
  border: 1px solid $borders_color;
}

dockoverlayedge {
  background-color: $bg_color;

  docktabstrip {
    padding: 0;
    border: none;
  }

  &.left-edge tab:checked,
  &.right-edge tab:checked {
    border-width: 1px 0;
  }
}

popover.messagepopover {
  &.background { padding: 0; }

  .popover-content-area { margin: 16px; }
  .popover-action-area {
    margin: 8px;

    button:not(:first-child):not(:last-child) { margin: 0 4px; }
  }
}

popover.popover-selector {
  padding: 0;

  list {
    row { padding: 5px 0; }
    row image { margin-left: 3px; margin-right: 10px; }
  }
}

entry.search.preferences-search {
  border: none;
  border-right: 1px solid $borders_color;
  border-bottom: 1px solid $borders_color;
  border-radius: 0;
}

preferences stacksidebar.sidebar {
  list { background-image: _solid($base_color); }

  list separator { background-color: transparent; }
}

devhelppanel entry:focus,
symboltreepanel entry:focus {
  border-color: $borders_color
}

button.run-arrow-button {
  min-width: 12px;
}

omnibar.linked > entry:not(:only-child) { border-style: solid; border-radius: 3px; margin-left: 1px; margin-right: 1px; }

gstyleslidein {
  #scale_box,
  #strings_controls,
  #palette_controls,
  #components_controls {
    button.toggle:checked { color: $fg_color; }
  }
}

configurationview {
  entry.flat { background: none; }
  list { border-width: 0; }
}


// Xfce Panel
.xfce4-panel.panel {
  background-color: $panel_bg;

  text-shadow: none;
  -gtk-icon-shadow: none;

  button.flat { @extend %panelbutton; }
}

#tasklist-button {
  color: transparentize($panel_fg, 0.2);
  border-radius: 0;
  border: none;
  background-color: transparentize($panel_bg, 1);

  &:hover {
    color: lighten($panel_fg, 10%);
    background-color: transparentize(black, 0.83);
  }

  &:checked {
    color: white;
    background-color: transparentize(black, 0.75);
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

%panelbutton {
  color: $panel_fg;
  border-radius: 0;
  border: none;
  background-color: transparentize($panel_bg, 1);

  &:hover {
    border: none;
    background-color: lighten($panel_bg, 10%);
  }
  &:active, &:checked {
    color: $selected_fg_color;
    border: none;
    background-color: $selected_bg_color;

    label, image { color: inherit; }
  }
}

// Elementary Apps

//
// Birdie
//
//BirdieWidgetsTweetList * {
//  background-image: none;
//  background-color: transparent;
//}

//
// Marlin / Pantheon Files
//
//MarlinViewWindow {
//
//  *:selected, *:selected:focus {
//    color: $selected_fg_color;
//    background-color: $selected_bg_color;
//    outline-color: transparent;
//  }
//  GtkIconView.view:selected {
//    &, &:focus, &:hover, &:focus:hover { background-color: transparent; }
//  }
//  FMListView, FMColumnView { outline-color: transparent; }
//}

.marlin-pathbar.pathbar {
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;

  @include entry(header-normal);

  &:focus { @include entry(header-focus) }

  &:disabled { @include entry(header-insensitive) }

  &:active, &:checked {
    color: $selected_bg_color;
  }
}

//
// Gala
//
.gala-notification {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: _solid(white);
    background-color: transparent;

  .title, .label {
    color: #5c616c;
  }
}

//
// Wingpanel
//
.panel {
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px transparentize(black, 0.4);
  -gtk-icon-shadow: 0 1px 2px transparentize(black, 0.4);

  &-shadow {
    background-image: none;
    background-color: transparent;
  }
  .menu {
    box-shadow: none;

    .menuitem {
      font-weight: normal;
      text-shadow: none;
      -gtk-icon-shadow: none;
    }

    .window-frame.menu.csd,
    .window-frame.popup.csd {
      box-shadow: 0 0 0 1px transparentize(black, 0.8),
                  0 10px 20px transparentize(black, 0.81),
                  0 6px 6px transparentize(black, 0.77);
    }
  }
  .menubar > .menuitem {
    padding: 3px 6px;
    &:hover { background-color: transparent; }
  }
  .window-frame.menu.csd,
  .window-frame.popup.csd { box-shadow: none; }
}

.composited-indicator {
  background-color: transparent;
  color: white;
  text-shadow: 0 1px 2px transparentize(black, 0.4);
  -gtk-icon-shadow: 0 1px 2px transparentize(black, 0.4);

  > GtkWidget > GtkWidget:first-child { padding: 0 2px; }

  .menuitem:active, .menuitem:hover {
    border-style: none;
    background-image: none;
    box-shadow: none;
  }
  > .popup > .menu {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.panel-app-button > GtkWidget > GtkWidget:first-child {
  padding: 0 2px 0 4px;
}

.panel .menu .spinner,
.menu .spinner { opacity: 1; } // Fixes sound indicator buttons

//
// * Firefox and Thunderbird *
//

$firefox_border: if($variant == 'light', darken($button_bg, 15%), lighten($button_bg, 15%));

window.background:not(.csd) {
  > widget {
    // for the bookmark toolbar's separators
    > separator { color: $borders_color; }

    // avoid black border
    > scrollbar { background-clip: border-box; }

    // emphasize borders color
    > scrollbar,
    > frame > border { border-color: $borders_color; }

    > entry,
    > button > button {
      border: 1px solid $borders_color;
      border-radius: 2px;
    }

    > entry,
    .entry { // Set for linked entrys
//      min-height: 26px;
      border-radius: 2px;
      background-image: image($base_color);
      border: 1px solid $borders_color;

      &:focus { border-color: $selected_bg_color; }
    }

    > spinbutton {
      background-image: image($button_bg);
      border: 1px solid $borders_color;
      &:active { background-image: image(if($variant == 'light', darken($button_bg, 5%), lighten($button_bg, 5%))); }

      // Fixed thunderbird linked entry spinbutton border-radius.
      .entry { border-top-right-radius: 0;  border-bottom-right-radius: 0; }
    }

    > button > button {
      &:active, &:checked {
        border: 1px solid $firefox_border;
        background-image: image(if($variant == 'light', darken($button_bg, 5%), lighten($button_bg, 5%)));
      }
    }
  }

  .menu { // context-menus
    border-radius: 0;
    border: none;
  }

  > menu > separator { color: $borders_color; }
  > menu > menuitem > label:disabled { color: $insensitive_fg_color; }
}

// /*******************
//  * Firefox Quantum *
//  *******************/

#MozillaGtkWidget.background {

  // blend with weird toolbar backgrounds
  background-color: $bg_color;

  // FIXME: resetting child elements background is not fully functional yet
  // because WidgetStyleCache keeps holding initial background-color.
  // the stem of this incorrect colouring seems to be caused by their
  // gdk_rgba to ns_rgba conversion. I don't think theme's fault.
  .background,
  frame,
  separator,
  scrolledwindow { background-color: $bg_color; }

  scrollbar {
    background-color: if($variant == 'light', $base_color, lighten($bg_color, 15%));
    slider {
      background-color: mix($fg_color, $bg_color, 45%);
      &:hover { background-color: mix($fg_color, $bg_color, 60%); }
      &:hover:active { background-color: mix($fg_color, $bg_color, 75%); }
      &:disabled { background-color: transparent; }
      }
    }

  *:not(menuitem):hover, // exclude menuitem node
  *:focus,
  *:active,
  *:checked {
    &, button { color: $fg_color; } // enforce opaque foregrounds
  }

  > window.background > menu { // context-menus
    background-color: $base_color;

    // revert to standard separators
    > separator {
      padding: 0;
      border: none;
      background-color: $firefox_border;
    }
  }

  > widget {
    border { border-color: $firefox_border; }

    separator { background-color: $firefox_border; }

    // FIXME: this affected to popover widget as well,
    // so we can not set $lighter_bg_color to search-bar...
    > scrolledwindow > textview {
      background-color: if($variant == 'light', $base_color, lighten($base_color, 5%));

      text {
        background-color: transparent;
        color: if($variant =='light', #242424, #aaaaaa);
        &:selected,
        &:selected:focus,
        selection { @extend %selected_items; }
      }
    }
  }
}

 /***************
  * Chrome(ium) *
  ***************/
$chrome_borders_color: if($variant == 'light', rgba(black, 0.15), rgba(white, 0.15));

%circle_chrome {
  min-width: 23px;
  min-height: 23px;
}

%square_chrome {
  min-width: $large_size;
  min-height: $large_size;
  margin-right: -10px;
}

window.background.chromium {
  // checked-tab & toolbar & button widgets
  background-color: $bg_color;
  color: $text_color;

  headerbar.titlebar {

    button.toggle { // account-button (> 64.0.3282?)
      @include button(header-normal);
      &:hover { @include button(header-hover); }
      &:checked, &:active { @include button(header-active); }
    }

    // from nav_button_provider_gtk3.cc (> 62.0.3202?)
    button.titlebutton { // title-buttons
      // define global titlebutton class sizing
      @extend %circle_chrome;
      padding: 0;
      color: transparent; // hide stock icons
    }
  }

  // FIXME: not for actual button widgets but for toolbar's separators
  // crazy: src/+/master/chrome/browser/ui/libgtkui/gtk_ui.cc#891
  button { // for active-tab borders
    border-width: 1px;
    border-style: solid;
    border-color: $chrome_borders_color;
  }

  entry.chromium {
    // overrides standard borders
    border-image: none;
    border: 1px solid $chrome_borders_color;
  }

  // internal region of toolbar's entry widget
  > textview.view { background-color: $base_color; }
}

/****************
 * Libre-Office *
 ****************/

window.background:not(.csd):not(.solid-csd) {
// reserved area at the most-right side of GtkMenuBar
  > grid.horizontal > grid.horizontal {
    background-color: $header_bg;
    box-shadow: inset 0 -1px $borders_color;

    > button.flat.small-button { // 'close' button
      color: $header_fg;
      border: none;
      border-radius: 50px;

      &:hover { background-color: rgba($header_fg, 0.25); }
      &:active,
      &:checked { background-color: $selected_bg_color; color: $selected_fg_color; }
      &:disabled { color: rgba($header_fg, 0.6); }
    }
  }
}

window.background:not(.solid-csd) {
  // for 'Notebookbar' toolbar
  > notebook:not(.frame) {
    border: 0 none transparent; // unset borders
    background-color: $base_color;

    > stack {
      border: none;
      box-shadow: none;
    }
  }
}

 /***********
  *  Geary  *
  ***********/

%folder_frame_border { border-width: 0; }

%conversation_frame {
  > border { border: none; }

  treeview.view {
    background-color: $base_color;

    &:selected {
      &, &:focus {
        background-color: rgba($selected_bg_color, 0.15);
        color: $fg_color;
        &:dir(ltr) { box-shadow: inset 2px 0 $selected_bg_color; }
        &:dir(rtl) { box-shadow: inset -2px 0 $selected_bg_color; }
      }
    }
  }
}

%folder_frame {

  &:dir(ltr) { border: none; }
  &:dir(rtl) { border: none; }

  treeview.view.sidebar {

    &.cell { // = row height of placessidebar
//      padding-top: rem(4px);
//      padding-bottom: rem(4px);
    }
  }
}

.geary-titlebar-left {
  // remove unexpected "hardcoded" vertical separator
  separator { opacity: 0; }
}

// left-pane styling (legacy)
.sidebar.vertical > paned.sidebar-pane-separator {
  .conversation-frame { @extend %conversation_frame; }

  .folder-frame {
    > border { @extend %folder_frame_border; }

    > scrolledwindow { @extend %folder_frame; }
  }
}

// left-pane styling (current)
.sidebar.vertical > paned.geary-sidebar-pane-separator {
  .geary-conversation-frame { @extend %conversation_frame; }

  .geary-folder-frame {
    > border { @extend  %folder_frame_border; }

    > scrolledwindow { @extend %folder_frame; }
  }
}

// right-pane styling (current)
stack#conversation_viewer {
  scrolledwindow.geary-conversation-scroller > viewport.frame {
    border: none; // unset borders
  }
}

 /**************
  * Vala-Panel *
  **************/

// That app does not have any position specific style-classes,
// so embed indicators at the bottom of tasklist buttons as default.
// Then that app looks quite weird in vertical layout at all.
window#ValaPanel.background { // solid-mode
  background-color: $panel_bg;
  color: $panel_fg;

  decoration { all: unset; } // unset all decorations

  widget.-vala-panel-background > separator { // separator applet
    background-color: $panel_bg;
  }
}

button.flat.-panel-button { // generic panel buttons
  border-radius: 0;
  color: $panel_fg;
  font-weight: 700;
  border: none;

  &:hover {
    color: $selected_fg_color;
    background-color: rgba($selected_fg_color, 0.1);
  }

  &:active { color: $selected_fg_color; }
  &:checked {
    background-color: transparent;
    color: $selected_fg_color;
    box-shadow: inset 0 -2px $selected_bg_color;
    &:hover {
      background-image: radial-gradient(circle farthest-corner at center,
                          rgba($panel_fg, 0) 100%,
                          transparent 0%),
                          image(rgba($panel_fg, 0));
    }
  }
  &:disabled { color: rgba($panel_fg, 0.5); }
}

button.flat.-panel-icon-button {
  @extend %budgie_icon_tasklist_button;

  &:hover {
    box-shadow: inset 0 -2px rgba($panel_fg, 0.4);
  }
  &:active,
  &:checked {
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

.unpinned button.flat.-panel-icon-button {
  border-radius: 0;

  &:hover { -gtk-icon-effect: highlight; }
  &:hover,
  &:active,
  &:checked {
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

.pinned button.flat.-panel-icon-button.running {
  border-radius: 0;

  > image {
    background-position: bottom center;
  }

  &:hover { -gtk-icon-effect: highlight; }
  &:hover,
  &:active,
  &:checked {
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

// menubar-style'ed app menu
menubar.-vala-panel-background > menuitem { // override global values
  padding: 0 4px;
  font-weight: 700;
}
