$variant: 'light';
$titlebar: 'dark';
$trans: 'false';
$menu: 'gnome';

@import '../_sass/colors';
@import '../_sass/variables';
@import '../_sass/gtk/drawing';
@import '../_sass/gtk/common';
@import '../_sass/gtk/apps';
@import '../_sass/gtk/granite';
@import '../_sass/gtk/transparent_widgets';
@import '../_sass/gtk/colors-public';
