$variant: 'light';
$titlebar: 'light';
$trans: 'false';
$titlebutton: 'square';

@import '../_sass/colors';
@import '../_sass/variables';
@import '../_sass/gtk/drawing';
@import '../_sass/gtk/common';
@import '../_sass/gtk/applications';
@import '../_sass/gtk/unity';
@import '../_sass/gtk/granite';
@import '../_sass/gtk/lightdm';
@import '../_sass/gtk/transparent_widgets';
@import '../_sass/gtk/colors-public';
