/* App Switcher */

.switcher-popup {
  padding: 8px;
  spacing: 24px;
}

// switcher onscreen panel
.switcher-list {
  @extend %osd_panel;

  .item-box {
    padding: 4px;
    border-radius: $bt_radius;
    border: 1px solid transparent;
    background-color: transparent;

    &:outlined {
      border: 1px solid $selected_bg_color;
      background-color: transparent;
    }

    &:selected {
      background-color: rgba($selected_bg_color, 0.5);
      color: $selected_fg_color;
      border: 1px solid $selected_bg_color;
    }
  }

  // window thumbnails
  .thumbnail-box {
    padding: 2px;
    spacing: 6px;
  }

  .thumbnail {
    width: 256px;
  }

  .separator {
    width: 1px;
    background: $borders_color;
  }

  .switcher-list-item-container {
    spacing: 8px;
  }
}

.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: transparentize($fg_color,0.2);
  &:highlighted {
    color: $fg_color;
  }
}

// Input Source Switcher
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

// Window cycler highlight
.cycler-highlight {
  border: 5px solid $selected_bg_color;
}
